.row.boundary
{
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;

    background:black;
    color:white;
}
.row.boundary:first-child
{
    margin-top:0;
}
.row.boundary:last-child
{
    margin-bottom:0;
}

.event
{
    padding:10px;
}

.timeline-icon
{
    background:black;
    color:white;
}

.event:hover
{
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.event:hover .timeline-icon
{
    z-index:1001;
    font-weight:bold;
}

.event:hover .arrow-line
{
    /* z-index:1000; */
}

.cell .event .timeline-icon
{
    background-color: inherit;
}

/* colors from: http://flatuicolors.com/ */

.event[data-group="color1"]
{
    background-color: #2980b9;
}
    .event[data-group="color1"]:after
    {
        border-left-color: #2980b9;
        border-right-color: #2980b9;
    }
    .event[data-group="color1"] .arrow-line
    {
        border-color:#2980b9;
        background-color:#2980b9
    }

.event[data-group="color2"]
{
    background-color: #8e44ad;
}
    .event[data-group="color2"]:after
    {
        border-left-color: #8e44ad;
        border-right-color: #8e44ad;
    }
    .event[data-group="color2"] .arrow-line
    {
        border-color:#8e44ad;
        background-color:#8e44ad
    }

.event[data-group="color3"]
{
   background-color: #1abc9c;
}
    .event[data-group="color3"]:after
    {
        border-left-color: #1abc9c;
        border-right-color: #1abc9c;
    }
    .event[data-group="color3"] .arrow-line
    {
        border-color:#1abc9c;
        background-color:#1abc9c
    }

.event[data-group="color4"]
{
   background-color: #d35400;
}
    .event[data-group="color4"]:after
    {
        border-left-color: #d35400;
        border-right-color: #d35400;
    }
    .event[data-group="color4"] .arrow-line
    {
        border-color:#d35400;
        background-color:#d35400
    }