.row > div > .event
{
    margin-left:15px;
    margin-right:15px;
}

.row
{
    position:relative;
}

.cell
{
    border:1px dotted transparent;
}

/* event panel style */

.event
{
    background: white;

    margin-top:5px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    min-height:85px;
}

/* css arrow */

.event:before
{
    position: absolute;
    top: 10px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.event:after
{
    position: absolute;
    top: 11px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

/* timeline icon */
.timeline-icon
{
    position:absolute;
    top:10px;
    width:30px;
    height:30px;

    padding-top:6px;
    padding-left:1px;
    text-align:center;

    background-color: rgba(99, 99, 99, 1.0);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;

    left:100%;
    right:auto;
    margin-left:17px;
}

/* css3 animation */

.cell
{
    transition-property: height, top, left, margin-left;
    transition-duration: 0.5s;
}

.row
{
    transition-property: height;
    transition-duration: 0.5s;
}

/* formatting for events on xs screens  */
@media (max-width: 767px)
{
    /* event arrow on left */

    .event:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .event:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    /* icon on left */

    .timeline-icon{
        left: auto;
        right: 100%;
        margin-right:17px;
    }
}

/* formatting for events on sm screens */
@media (min-width: 768px) and (max-width: 991px)
{
    /* leftmost column: event arrow and icon on right (default) */

    /* rightmost-column: event arrow on left */

    .row .cell.col-sm-offset-6 .event:before
    {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .row .cell.col-sm-offset-6 .event:after
    {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    /* rightmost-column: icon on left */

    .row .cell.col-sm-offset-6 .timeline-icon
    {
        left: auto;
        right: 100%;
        margin-right:17px;
    }
}

/* formatting for events on md screens (and larger) */
@media (min-width: 992px)
{
    /* left columns (2): event arrow and icon on right (default) */

    /* right-columns (2): event arrow on left */

    .row .cell.col-md-offset-6 .event:before,
    .row .cell.col-md-offset-9 .event:before
    {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    .row .cell.col-md-offset-6 .event:after,
    .row .cell.col-md-offset-9 .event:after
    {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    /* adjust the margins to keep all widths identical */

    .row .cell.col-md-offset-0 .event {
        margin-left:15px;
        margin-right:0px;
    }

    .row .cell.col-md-offset-3 .event {
        margin-left:0px;
        margin-right:15px;
    }

    .row .cell.col-md-offset-6 .event {
        margin-left:15px;
        margin-right:0px;
    }

    .row .cell.col-md-offset-9 .event {
        margin-left:0px;
        margin-right:15px;
    }

    /* far-left column (1/4): icon in center */

    .row .cell.col-md-offset-0 .timeline-icon {
        left:200%;
        right:auto;
        margin-left:0;
        margin-left:51px;
    }

    /* left column (2/4): icon in center (default) */

    /* right column (3/4): icon in center */

    .row .cell.col-md-offset-6 .timeline-icon {
        left:auto;
        right:100%;
        margin-left:0;
        margin-right:17px;
    }

    /* far-right column (4/4): icon in center */

    .row .cell.col-md-offset-9 .timeline-icon {
        left:auto;
        right:200%;
        margin-left:0;
        margin-right:51px;
    }
}

/* css arrows "detached" from the timeline (far left/right on large screens), add long line */

.arrow-line
{
    display:none !important; /* XXX: spoiling debug */

    /* default: left event to center timeline */

    box-sizing:content-box; /* shocking! */

    top:0px;
    position: absolute;
    height: 1px;
    background: #ccc;
    width: 100%;
    margin-top: 20px;

    left: 100%;
    right: auto;

    margin-left: 15px;
    margin-right: auto;
    border:0;
    border-right:35px solid #ccc;

    z-index:-1;
}

.row:nth-child(2n) .column:nth-child(2) .arrow-line,
.row:nth-child(2n+1) .column:nth-child(1) .arrow-line
{
    /* right event to center timeline */

    left: auto;
    right: 100%;

    margin-left:auto;
    margin-right:15px;
    border:0;
    border-left:35px solid #ccc;
}

.subcolumn:nth-child(1) .event .arrow-line
{
    /* 
    overrides bootstrap !important
    turns off arrow lines on events closest to timeline (col 1 and 3)
    */
    display:none !important; 
}

/* add a center line */

#timeline-background
{
    position:relative;
}

#timeline-background:before
{
    top: 0;
    bottom:0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #000;
    left: 50%;
    margin-left: -1.5px;
}

@media(max-width: 767px)
{
    #timeline-background:before 
    {
        left: 8.3%;
    }
}