.row.boundary
{
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;

    background:black;
    color:white;
}
.row.boundary:first-child
{
    margin-top:0;
}
.row.boundary:last-child
{
    margin-bottom:0;
}

.event
{
    padding:10px;
}

.timeline-icon
{
    background:black;
    color:white;
}

@media (min-width: 992px)
{
    /*
    TIMELINE ICONS (CENTER)
    .arrow and .arrow-line pointing at this on timeline
    */

    .timeline-icon:not(.first-in-group)
    {
        top: 15px;
        width:20px;
        height:20px;
        margin-left:22px;
        color:transparent;
    }

    /* far-left column (1/4): icon in center */

    .row .cell.col-md-offset-0 .timeline-icon:not(.first-in-group) {
        left:200%;
        right:auto;
        margin-left:0;
        margin-left:56px;
    }

    /* left column (2/4): icon in center (default) */

    /* right column (3/4): icon in center */

    .row .cell.col-md-offset-6 .timeline-icon:not(.first-in-group) {
        left:auto;
        right:100%;
        margin-left:0;
        margin-right:22px;
    }

    /* far-right column (4/4): icon in center */

    .row .cell.col-md-offset-9 .timeline-icon:not(.first-in-group) {
        left:auto;
        right:200%;
        margin-left:0;
        margin-right:56px;
    }
}

.cell .event .timeline-icon
{
    background-color: inherit;
}

/* colors from: http://flatuicolors.com/ */

.event[data-group="color1"]
{
    background-color: #2980b9;
}
    .event[data-group="color1"]:after
    {
        border-left-color: #2980b9;
        border-right-color: #2980b9;
    }
    .event[data-group="color1"] .arrow-line
    {
        border-color:#2980b9;
        background-color:#2980b9
    }

.event[data-group="color2"]
{
    background-color: #8e44ad;
}
    .event[data-group="color2"]:after
    {
        border-left-color: #8e44ad;
        border-right-color: #8e44ad;
    }
    .event[data-group="color2"] .arrow-line
    {
        border-color:#8e44ad;
        background-color:#8e44ad
    }

.event[data-group="color3"]
{
   background-color: #1abc9c;
}
    .event[data-group="color3"]:after
    {
        border-left-color: #1abc9c;
        border-right-color: #1abc9c;
    }
    .event[data-group="color3"] .arrow-line
    {
        border-color:#1abc9c;
        background-color:#1abc9c
    }

.event[data-group="color4"]
{
   background-color: #d35400;
}
    .event[data-group="color4"]:after
    {
        border-left-color: #d35400;
        border-right-color: #d35400;
    }
    .event[data-group="color4"] .arrow-line
    {
        border-color:#d35400;
        background-color:#d35400
    }

.event.holiday
{
    background-color:white;
    font-weight:bold;
}
    .event.holiday .timeline-icon
    {
        background-color: #ccc;
    }
    .event.holiday:after
    {
        border-left-color:white;
        border-right-color:white;
    }
    .event.holiday .arrow-line
    {
        border-color:#eaeaea;
        background-color:#eaeaea;
    }
    .event.holiday 
    {
        min-height:55px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
