.container 
{
    border: 1px dashed #CCC;
    position: relative;
    padding:0;
}

.container > .item 
{
    position: absolute;
    /* height: 100px; /* rely on masonry-examples.css variable heights first */
    width:350px;
}

@media (max-width: 375px) {
    .container > .item
    {
        background: rgba(0,255,0,0.3);
        width:100%;
    }
}

.container .-month-zone
{
    z-index:-1;
    border:1px dotted red;
}