* {
  box-sizing: border-box;
}

.container {
  background: #EEE;
}

.item {
  width:  300px;
  height: 60px;
  float: left;
  border: 1px solid;
}

.item.height2 { height: 109px; }
.item.height3 { height: 168px; }
.item.height4 { height: 227px; }
.item.height5 { height: 286px; }

.-timeline-pointer
{
    position:absolute; 
    width:100px; 
    height:1px; 
    background:rgba(0,0,0,0.5);
}

.masonry.container[data-columns="4"] .masonry-brick[data-column="0"] .-timeline-pointer { top:10px; right:0px; }
.masonry.container[data-columns="4"] .masonry-brick[data-column="1"] .-timeline-pointer { top:20px; right:0px; }
.masonry.container[data-columns="4"] .masonry-brick[data-column="2"] .-timeline-pointer { top:30px; left:0px; }
.masonry.container[data-columns="4"] .masonry-brick[data-column="3"] .-timeline-pointer { top:40px; left:0px; }