* {
  box-sizing: border-box;
}

.container {
  background: #EEE;
}

.item {
  width:  300px;
  height: 60px;
  float: left;
  border: 1px solid;
  background: #09F;
}

.item.height2 { height: 109px; }
.item.height3 { height: 168px; }
.item.height4 { height: 227px; }
.item.height5 { height: 286px; }

.stamp {
  background: red;
  opacity: 0.75;
  position: absolute;
  border: 1px solid;
}